.Top #body .body-main .aside .aside-main .nav {
  display: flex;
  width: 240px;
  height: 40px;
}
.Top #body .body-main .aside .aside-main .nav :hover {
  background: linear-gradient(to right, #ed6e9f, #ec8c6a);
  color: #ffffff;
}
.Top #body .body-main .aside .aside-main .nav :not(:first-child) {
  margin: auto 0.625rem;
}
.Top #body .body-main .aside .aside-main .nav #click {
  width: 75px;
  height: 28px;
  opacity: 1;
  color: #ffffff;
  background: linear-gradient(to right, #ed6e9f, #ec8c6a);
}
.Top #body .body-main .aside .aside-main .nav #click span {
  display: inherit;
}
.Top #body .body-main .aside .aside-main .nav > div {
  width: 18px;
  height: 28px;
  padding: 5px 15px;
  background-color: #d3d3d3;
  text-align: center;
  font-size: 0.875em;
  line-height: 28px;
  padding: 0.3125rem 0.9375rem;
  color: #888;
  border-radius: 0.625rem;
  opacity: 0.7;
  display: flex;
}
.Top #body .body-main .aside .aside-main .nav > div span {
  display: none;
  word-break: keep-all;
}
.Top #body .body-main .aside .aside-main .nav > div i {
  width: 14px;
  font-size: 20px;
  margin-top: 5px;
}
.Top #body .body-main .aside .aside-main .nav-item {
  width: 240px;
  min-height: 500px;
}
.Top #body .body-main .aside .aside-main .nav-item #active {
  display: block;
  width: 240px;
  min-height: 600px;
}
.Top #body .body-main .aside .aside-main .nav-item .catalogue ul {
  margin-top: 30px;
}
.Top #body .body-main .aside .aside-main .nav-item .catalogue ul li {
  margin-top: 15px;
  text-indent: 10px;
}
.Top #body .body-main .aside .aside-main .nav-item .catalogue .catalogue-list .is-active-link::before {
  opacity: 1;
}
.Top #body .body-main .aside .aside-main .nav-item .catalogue .catalogue-list ::before {
  height: 25px;
  width: 4px;
  opacity: 0;
}
.Top #body .body-main .aside .aside-main .nav-item .catalogue .catalogue-list a:hover {
  color: #3c3c3c;
}
.Top #body .body-main .aside .aside-main .nav-item .catalogue .catalogue-list ol li ol {
  list-style: decimal ;
  padding-left: 30px;
}
.Top #body .body-main .aside .aside-main .nav-item .connect ul {
  margin-top: 30px;
}
.Top #body .body-main .aside .aside-main .nav-item .connect ul li {
  margin-top: 15px;
  text-indent: 10px;
}
.Top #body .body-main .aside .aside-main .nav-item > div {
  display: none;
}
.Top #body .body-main .article .article-main h1 {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  padding: 5px;
  margin-bottom: 25px;
}
.Top #body .body-main .article .article-main h2 {
  font-size: 26px;
  line-height: 35px;
  margin-bottom: 10px;
}
.Top #body .body-main .article .article-main h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
}
.Top #body .body-main .article .article-main p {
  text-indent: 50px;
  font-size: 22px;
  line-height: 35px;
  margin-bottom: 15px;
  color: #3f3f3f;
}
.Top #body .body-main .article .article-main :hover {
  color: #000;
}
.Top #body .body-main .article .article-main ul li,
.Top #body .body-main .article .article-main ol li {
  text-indent: 100px;
  font-size: 20px;
}
.Top #body .body-main .article .article-main a {
  color: #f8ade0;
}
